/* :root { */
  --main-bacgraund: #ffffff;
  --tittle-colore: #212121;
  --paragraf-colore: #757575;
  --section-colore: #f5f4fa;
  --main-blue: #2196f3;
  --buttone-blue: #188ce8;
  --button-bacgraund: #f5f4fa;
  --footer-black: #2f303a;
  --icon-color: #afb1b8;
  --color-backdrop: rgba(47, 48, 58, 0.8);
  --speed-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* fonts */
  /* Roboto 500,900,700,400 Weight  */
  /* outline: 1px solid tomato; */
}

/* .section {
  padding-top: 94px;
  /* padding-bottom: 94px; */
  /* padding-bottom: 94px; */
} */

.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* body {
  background-color: var(--main-bacgraund);
  color: var(--paragraf-colore);
  font-family: roboto, sans-serif;
} */

/* .header-border {
  border-bottom: 1px solid #ececec;
} */



/* .heder-logo {
  display: flex;
} */

.hero-container {}

.hero-section {
  background-color: var(--footer-black);
  /* width: 100%;
  height: 600px; */
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  /* url(../images/hero.jpg) */
}

.hero__button {
  color: #ffffff;
  background-color: var(--main-blue);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  /* transition-property:background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus,
.hero__button:hover {
  color: #ffffff;
  background-color: var(--buttone-blue);


}

.hero__title {
  color: var(--main-bacgraund);
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 30px;
}

/* h1,
h2,
h3 {
  color: var(--tittle-colore);
  margin: 0;
}

ul,
li,
p {
  list-style: none;
  margin: 0;
  padding-left: 0;
} */

.sp-conteiner {}

.features__inner {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* margin-bottom: 94px; */
  width: 1170px;
}

.features__title {
  margin-right: 30px;
  width: 270px;
}

.features__title:last-child {
  margin-right: 0;
}

.pic-container {}

.section-pictures {
  display: flex;
  /* margin-top: 50px; */
  /* margin-bottom: 94px; */
}

.picture-item {
  position: relative;
  margin-right: 30px;
}

.picture-item:last-child {
  margin-right: 0;
}

.section-tim {
  background-color: var(--section-colore);
}

.picture__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-backdrop);
}


.bottom__title {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-bacgraund);
}

.current.link {
  position: relative;

}

.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--main-blue)
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

.logo {
  color: var(--tittle-colore);
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  margin-right: 93px;
}

.span {
  color: #2196f3;
}

/* .link {
  text-decoration: none;
  color: var(--tittle-colore);
}

a {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.link.current {
  color: var(--main-blue);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  min-width: 294px;
}

.site-nav a {
  color: var(--tittle-colore);
  /* font-family: Roboto, sans-serif; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  display: flex;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--main-blue);
}

.link-nav {}

/* .nav-header {
  display: flex;
} */

/* .nav-header :nth-last-child(n + 3) {
  margin-right: 0;
} */
.nav__items a {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

}

/* .nav-header .link {
  transition: color var(--speed-animation);
} */

.nav__items :hover,
:focus {
  color: var(--main-blue);
}

.nav-header :not(:last-child) {
  margin-right: 50px;
}

.contakts {
  display: flex;
  margin-left: auto;
}

/* .contakts :nth-last-child(-n + 1) {
  margin-right: 0;
} */
.contakts a {
  color: var(--paragraf-colore);
  font-weight: 500;
  letter-spacing: 0.02em;

  /* font-family: Roboto; */

  font-size: 14px;
  line-height: 1.14;
}

.contakts :focus,
.contakts :hover {
  color: var(--main-blue);
  fill: var(--main-blue);
}

.contacts__link.link {
  transition: color var(--speed-animation);
}

.contakts__mail:not(:last-child) {
  margin-right: 50px;
}

.contacts__link.link {
  transition: color var(--speed-animation);
}

.contakts__mail a {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.features__main {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.section-team {
  text-align: center;
  background-color: var(--section-colore);
  padding-bottom: 94px;
}

.team__container {
  display: flex;
  justify-content: center;
}

.section__title {
  color: var(--tittle-colore);
  /* font-family: Roboto, sans-serif; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  /* line-height: 3%; */
  text-align: center;
  margin-bottom: 50px;
}

.team__inner:nth-last-child(-n + 1) {
  margin-right: 0;
}

.team__inner {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__inner--card-color {
  background-color: var(--main-bacgraund);
}

.team__inner:last-child {
  margin-right: 0;
}

.title {
  /* margin-top: 94px; */

  margin-bottom: 50px;
}

.features__text {
  /* font-family: Roboto; */

  font-size: 14px;
  line-height: 1.7;
  line-height: 1.46;
}

.card__inner {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
}

.card__paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  /* padding-top: 10px; */
  /* padding-bottom: 30px; */
}

.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  background-color: var(--footer-black);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {}

.adress-footer a {
  /* color: var(--paragraf-colore); */
}

.adress-footer :hover,
:focus {
  color: var(--main-blue);
}

.section-nav {}

.nav-box__button {
  font-family: inherit;
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;


}

.nav-box__button {

  transition: box-shadow, background-color, var(--speed-animation);

}

.nav-box__item {
  margin-right: 8px;
}

.nav-box__item:last-child {
  margin-right: 0;
}

.nav-box {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;}

.nav-box__button:hover,
.nav-box__button:focus {
  color: var(--main-bacgraund);
  background-color: var(--main-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio p {
  color: var(--paragraf-colore);
}

.section-portfolio {
  margin-bottom: 94px;
}

.foto__img {
  background-color: #eeeeee;
  display: block;
}

.adress__point {
  font-size: 14px;
  line-height: 1.7;
  line-height: 1.46;
  text-align: left;
  vertical-align: top;
  color: #ffffff;
  margin-bottom: 9px;
}

.fotos {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.foto__items {
  width: calc(100 % / 3);
  margin: 15px;
  display: block;
}

.adress__mail,
.adress__tel {
  font-size: 14px;
  line-height: 1.7;
  line-height: 1.46;
  text-align: left;
  vertical-align: top;
  color: rgba(255, 255, 255, 1);
  transition: color var(--speed-animation);
}

.adress__item {
  margin-bottom: 9px;
}

.adress__item:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

.logo-footer {
  color: #ffffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.foto-bottom__text {
  /* font-family: Roboto; */
  /* font-weight: normal; */
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.foto-bottom__title {
  /* font-family: Roboto, sans-serif; */
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.adres {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav-box {
  display: flex;
  justify-content: center;
}

.foto-bottom {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 20px;
  /* border: 1px solid #eeeeee; */
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  display: block;
}

.foto__link {
  display: block;
}

.foto__items .foto__link:focus,
.foto__items .foto__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .foto__link:hover .overlay-card{
  opacity: 1;
top: 0;
left: 0; 
transition: transform 5000ms;
} */
.foto__card {
  position: relative;
  overflow: hidden;
  /* background-color:rgba(33, 150, 243, 0.9);
transform: rotateY(50%); */
}

.foto__card::before {
  position: absolute;
  content: "";
  opacity: 0;
  /* display: inline-block; */
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: var(--speed-animation);
}

.foto__link:hover ::before {
  opacity: 1;
  transform: rotateY(0);
}

.foto__card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transition: var(--speed-animation);
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  transition: var(--speed-animation);


}

.foto__link:hover .overlay-card {
  opacity: 1;
  transform: rotateY(0);

}

.overlay-card .overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-bacgraund)
}



.contakt__icon {
  width: 16px;
  height: 17px;
  fill: currentColor;
  margin-right: 10px;
}

.features__icon {
  width: 65px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: auto;
  content: '';
}

.features__img {
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.client {
  fill: var(--icon-color);


}

.client:not(:last-child) {
  margin-right: 30px;
}

.container-client {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 94px; */
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__item {
  width: 106px;
  height: 60px;

  /* fill: currentColor; */
  /* background-repeat: no-repeat;
  background-size: auto;
  content: ''; */
  /* fill: var(--icon-color); */

}

.client__link:hover,
.client__link:focus {
  fill: var(--main-blue);
  border: 1px solid var(--main-blue);

}

/* .client :focus,
.client :hover {
  fill: var(--main-blue);
  transition: fill var(--speed-animation);
  
} */

.client__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid var(--icon-color);
  fill: var(--icon-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--icon-color);
  transition: border var(--speed-animation);
  /* transition: 2500ms; */
}

.client__item {
  transition: fill var(--speed-animation);
}

.client__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 50px;
}

.box-social {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.social__item {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill var(--speed-animation);
}

.social__icon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--speed-animation);

}

.social__icons :focus,
.social__icons :hover {
  background-color: var(--main-blue);
}

.social__icons:not(:last-child) {
  margin-right: 10px;
}

.social__icons :hover .social__item {
  fill: var(--main-bacgraund);
}

.social__icons :focus .social__item {
  fill: var(--main-bacgraund);
}

.social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-cocial-item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--speed-animation);
}

.footer-cocial-items:not(:last-child) {
  margin-right: 10px;
}

.footer-cocial-items :focus,
.footer-cocial-items :hover {
  background-color: var(--main-blue);
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--main-bacgraund);
  transition: fill var(--speed-animation);
}

.footer-social {
  /* display: flex; */
  margin-left: 70px;

}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;


  text-transform: uppercase;
  color: var(--main-bacgraund);
  margin-bottom: 20px;
}


.modal {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--main-bacgraund);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 40px;

}

.backdop-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity var(--speed-animation), visibility var(--speed-animation);
  /* transition: var(--speed-animation); */
}

.backdop-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transform: scale(0); */

}



.modal__button {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;

}

.modal__icon {
width: 11px;
height: 11px;
fill:var(--tittle-colore);
transition: fill var(--speed-animation);
}
/* .modal__icon:hover,
.modal__icon:focus {
  fill:var(--main-blue);
} */
/* .modal__button:hover, */
.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
 fill: var(--main-blue);
}

.form {}

.madal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--tittle-colore);
  margin-top: 40px;
  margin-bottom: 12px;

}

.for-fild {
  display: flex;
  justify-content: left;
  /* margin-left: 40px; */
  padding-bottom: 4px;
}

.form__input {
  position: relative;
  margin: 0;
  display:block;
  width: 448px;
  height: 40px;
  padding-left:  42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: currentColor;
  transition: border var(--speed-animation);
}

.form-box {
  position: relative;
  color: #212121;
  /* margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  padding-left: 42px; */
  margin-bottom: 10px;
}
::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: rgba(117, 117, 117, 0.5);
  
  
}
.form__icon {
display: block;
position: absolute;
width: 18px;
height: 18px;
top: 50%;
left: 15px;
transform: translateY(-50%);
fill: var(--tittle-colore);
transition: fill var(--speed-animation);
}
.form__inner{
width: 18px;
height: 18px;


}
.comenty {
  outline: transparent;
  width: 448px;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  resize: none;
  margin-bottom: 20px;
  color:currentColor;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  
}
.textarea-box{
  
display:block;
margin-left: auto;
margin-right: auto;
width: 448px;
height: 120px
}
.checkbox {
position: absolute;
left: 0;
 width: 16px;
height: 15px;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
  
}
.checkbox-box{ 
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
margin-top: 20px; 
}
.checkbox:focus ~ .checkbox__icon {
  border: 2px solid #2196F3;
}
.checkbox:focus {
  opacity: 0;
}
.checkbox__icon{
  position: absolute;
  left: 52px;
  /* top: -50%; */
  
  /* transform: translateY(-50%); */
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--tittle-colore);
  border-radius: 2px;
  transition: border var(--speed-animation);
}
.checkbox__text {
font-weight: 400;
font-size: 14px;
line-height: 1.7;
/* margin-left: 76px; */

}
.checkbox:checked ~ .checkbox__icon{
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin:content-box;
  border-color: #2196F3;
  background-color: #2196f3;
}
.clouz-button {
  display: block;
  margin-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px; 
  color: #FFFFFF;
  transition: background-color var(--speed-animation);
}
.clouz-button:hover,
.clouz-button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.clouz__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.7;
  color: #FFFFFF;
}

.rules-link {
  color: var(--main-blue);
}
.form__input:hover ~ .form__icon {
  fill: var(--main-blue);

}
.form__input:focus ~ .form__icon {
  fill: var(--main-blue);
}
.form__input:hover,
.form__input:focus{
  border: 1px solid #2196F3;
  box-sizing: border-box;
  border-radius: 4px;
}
.footer-form{
  display: flex;
}
.footer-input{
width: 358px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color:var(--footer-black);
color: rgba(255, 255, 255, 0.6);
outline: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.3;
padding-left: 15px;
}
.footer-input::placeholder{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}
.button-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 29px;
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-right: 28px;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--main-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color:var(--main-bacgraund);

}
.footer-lable{
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bacgraund);
}
.footer-box{
  margin-left: 93px;
}
.button-icon{
  width: 24px;
  height: 24px;
  fill:var(--main-bacgraund);
  margin-left: 10px;
  /* margin-right: 28px; */
}
